<!DOCTYPE html>
<head>
    <title>Login</title>
</head>
<body>
    <h3>GO try</h3>
    {{ .err}}
    <p>User Login GO
        <form method="post" action="/login-user">
            <input type="text" name="username">
            <br>
            <input type="password" name="password">
            <br>
            <input type="submit" value="login">
        </form>
    </p>
    <h3>Or GO register</h3>
    <a href="/register">GO REGISTER</a>
</body>