<!DOCTYPE html>
<head>
    <title>Welcome</title>
</head>
<body>
    <p>Login ----->   <a href="/index">Loggiiiiinnnnn</a>
    <h2>welcome {{.username }} </h2>
    <p>Logout ----->   <a href="/logout">Logout</a>
    
    </p>
</body>